.paginate__wrapper {
  display: flex;
  gap: .2rem;

  &>li {
    list-style: none;
    cursor: pointer;
    transition: all ease-out .3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.paginate__page_active {
  font-weight: bold;
}
