.nav__wrapper {
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.nav__title {
  margin: 0;
  color: darkblue;
}

.select__wrapper {
  display: flex;
  gap: .2rem;
}
